/* input {outline:none;} */

#calcSvp {
  display: flex;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 10px;
  border-radius: 15px ;
  /* max-width: 600px;
  margin: auto; */

}
#calcSvpSum {

  /* text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column; */
  width: 100%;
}

.calc-input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.calc-input-error {
  border: solid 1px red;
}

.calc-input {
	text-align: center;
	padding: 10px;
	width: 30%;
	height: 15px;
	border: 0px solid #ff8c00;
  font-size: 20px
}

.btn-minus{
  position: absolute;
  top:10px;
  left: 26px;
}
.btn-plus{
  position: absolute;
  top:10px;
  left: 26px;
}

.box_input {
  width: 50%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #c6c6c69e;
  border-radius: 30px;
  align-items: center;
  position: relative;
}
.box_input:hover {
  /* display: block; */
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

}
.results {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #4CAF50; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 2px;
  border-radius: 15px ;

}
.box-results {
  display: flex;

}
.box-results-add {
  text-align: center;
  font-weight: 900;
}
.result-style {
  font-size: 26px;
  color: white;
}

#buttonCalc {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}


.box_input button {
  display: inline-block;	
	box-sizing: border-box;
	/* padding: 0 20px; */
	outline: none;
	border: none;  
	border-radius: 30px;
	height: 45px;
  width: 45px;
	line-height: 40px;
	font-size: 25px;
	font-weight: 600;
	text-decoration: none;
	color: #385898;
	background-color: #e7f3ff;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
  position: relative;
  margin: 0px;
}




.input-span-pre-button {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 100%;
  border: 6px solid #5d5d5d;
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 2s ;
  animation-iteration-count: 1;

} 


@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}




.box_input button:focus-visible {
	box-shadow: 0 0 0 2px #666;
}
/* .box_input button:hover {
	background-color: #DBE7F2;
  transform: scale(1.2);
} */
.box_input button:active {
	transform: scale(0.96);
}
.box_input button:disabled {
	pointer-events: none;
	opacity: 0.65;
}

@media only screen and (max-width: 500px) {
  .calc-input-box {
    flex-direction: column;
  }
  /* .box-results {
    flex-direction: column;
  } */
  .box_input {
    width: 100%;
  }
}