body {
    background-color: rgb(203, 203, 203);
    margin: 0px;
}

.game-box{
    background-color: azure;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-header{
    height: 60px;
}

.game-dashboard {
    background-color: black;
    color: aliceblue;
    width: 400px;
    height: 400px;
    position: relative;
}
.game-dashboard button {
    width: 25%;
    height: 25%;
    position: absolute;
}
.game-dashboard button:last-child {
    display: none;
}

.game-size{
    align-items: center;
}
.btn-size-game {
    height: 44px;
    padding: 10px;
    border-radius: 25px;
    margin: 20px;
}






/* 
.box-game {
    margin: auto;
    margin-top: 50px;
    width: 400px;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.stat-section {
    display: flex;
    height: 50px;
}
.stat-box {
    background-color: brown;
    padding: 10px;

}

.table-td {
    padding: 30px;
    border: solid 1px;
}
.header-game {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.header-btn {
    background-color: aqua;
    border: none;
    width: 20%;

} */